@font-face {
  font-family: "DroidSans";
  src: url("/fonts/DroidSans.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Improves loading performance */
}

@font-face {
  font-family: "DroidSans";
  src: url("/fonts/DroidSans-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap; /* Improves loading performance */
}
