* {
  font-family: "DroidSans", Helvetica, sans-serif;

  @apply border-gray-300;
}

body {
  @apply w-screen h-screen overflow-hidden;
  @apply bg-gray-100 text-gray-900;
  /* @apply dark:bg-gray-700 dark:text-gray-200; */
}

#root,
main {
  @apply flex items-stretch size-full overflow-hidden;
}

h1,
h2,
h3 {
  @apply border-b;
}

h1 {
  @apply text-3xl py-2;
}

h2 {
  @apply text-2xl py-1;
}

h3 {
  @apply text-xl;
}
