* {
  @apply border-slate-300 dark:border-slate-700;
}

body {
  @apply w-screen h-screen overflow-hidden transition-colors;
  @apply bg-slate-100 text-slate-900;
  @apply dark:bg-slate-900 dark:text-slate-100;
}

#root,
main {
  @apply flex items-stretch size-full overflow-hidden;
}

.lucide,
.icon {
  @apply text-slate-500;
}

h1,
h2,
h3 {
  @apply border-b flex items-center gap-2 font-normal;

  .lucide,
  .icon {
    @apply text-slate-400 dark:text-slate-600;
  }
}

h1 {
  @apply text-3xl py-2;
}

h2 {
  @apply text-2xl py-1;
}

h3 {
  @apply text-xl;
}

/* width */
::-webkit-scrollbar {
  @apply size-2;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-slate-500/25;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-slate-500/50;
}
