* {
  @apply border-slate-300 dark:border-slate-700;
}

body {
  @apply w-screen h-screen overflow-hidden transition-colors;
  @apply bg-slate-100 text-slate-900;
  @apply dark:bg-slate-900 dark:text-slate-100;
}

#root,
main {
  @apply flex items-stretch size-full overflow-hidden;
}

h1,
h2,
h3 {
  @apply border-b;

  .lucide,
  .icon {
    @apply text-slate-400 dark:text-slate-600;
  }
}

h1 {
  @apply text-3xl py-2;
}

h2 {
  @apply text-2xl py-1;
}

h3 {
  @apply text-xl;
}
