.side-bar {
  @apply flex flex-col items-stretch border-r;
  @apply bg-gray-200;
  /* @apply dark:border-r-gray-900 dark:bg-gray-800; */

  .header {
    @apply flex items-center p-6 gap-2 text-3xl whitespace-nowrap;
  }

  .tab-selector {
    @apply cursor-pointer transition-colors px-4 py-2 outline-0 flex items-center gap-1;
    @apply data-selected:bg-gray-400;
  }
}

.button {
  @apply whitespace-nowrap rounded py-2 px-4 transition-colors cursor-pointer flex items-center gap-2;
}

.badge {
  @apply text-xs text-gray-500 bg-gray-200 rounded-sm flex items-center gap-1 px-[2px];
}

.main-content {
  @apply size-full flex flex-col items-stretch;

  .title-bar {
    @apply flex items-center justify-end border-b gap-4;

    .group {
      @apply flex items-center;
    }

    .action {
      @apply cursor-pointer transition-colors p-2;
      @apply hover:bg-gray-200 text-gray-500;

      &.destructive {
        @apply hover:bg-red-200 text-red-400;
      }
    }
  }

  .content {
    @apply p-8 lg:p-16 overflow-y-auto overflow-x-hidden;
  }
}
