.red {
  @apply text-red-500 bg-red-500/10;

  .lucide,
  .icon {
    @apply text-red-500/50;
  }
}

.orange {
  @apply text-orange-500 bg-orange-500/10;

  .lucide,
  .icon {
    @apply text-orange-500/50;
  }
}

.yellow {
  @apply text-yellow-500 bg-yellow-500/10;

  .lucide,
  .icon {
    @apply text-yellow-500/50;
  }
}

.green {
  @apply text-green-500 bg-green-500/10;

  .lucide,
  .icon {
    @apply text-green-500/50;
  }
}

.cyan {
  @apply text-cyan-500 bg-cyan-500/10;

  .lucide,
  .icon {
    @apply text-cyan-500/50;
  }
}

.blue {
  @apply text-blue-500 bg-blue-500/10;

  .lucide,
  .icon {
    @apply text-blue-500/50;
  }
}

.purple {
  @apply text-purple-500 bg-purple-500/10;

  .lucide,
  .icon {
    @apply text-purple-500/50;
  }
}

.pink {
  @apply text-rose-500 bg-rose-500/10;

  .lucide,
  .icon {
    @apply text-rose-500/50;
  }
}

.button {
  @apply whitespace-nowrap transition-all cursor-pointer flex items-center;

  &.regular {
    @apply rounded-md py-2 px-4 gap-2;
  }

  &.small {
    @apply rounded py-1 px-2 gap-1 text-sm;
  }

  &.tiny {
    @apply rounded-xs py-0.5 px-1 gap-0.5 text-xs;
  }

  &.primary {
    @apply text-slate-100 bg-slate-900 hover:bg-slate-700;

    @apply dark:text-slate-900 dark:bg-slate-100 dark:hover:bg-slate-200;

    .lucide,
    .icon {
      @apply text-slate-500;
    }
  }

  &.secondary {
    @apply text-slate-900 bg-slate-100 hover:bg-slate-200;

    @apply dark:text-slate-100 dark:bg-slate-900 dark:hover:bg-slate-800;

    .lucide,
    .icon {
      @apply text-slate-500;
    }
  }

  &.destructive {
    @apply text-red-500 bg-red-500/10 hover:bg-red-500/25;

    .lucide,
    .icon {
      @apply text-red-500/50;
    }
  }
}

.badge {
  @apply w-fit text-xs rounded-sm inline-flex items-center gap-1 px-0.5;

  button {
    @apply cursor-pointer;
  }

  &.primary {
    @apply text-slate-500 bg-slate-200 dark:bg-slate-800;
  }
}

.callout {
  @apply text-sm rounded flex gap-2 p-2;

  &.primary {
    @apply bg-slate-200 dark:bg-slate-800;

    .lucide,
    .icon {
      @apply text-slate-500;
    }
  }
}

.button-group {
  @apply flex items-stretch border rounded-md overflow-hidden divide-x;
}

.spinner {
  @apply animate-spin border-2 rounded-full w-8 h-8 shrink-0;

  @apply border-transparent border-b-slate-900 dark:border-b-slate-100;
}

.tooltip {
  @apply pointer-events-none transition-opacity text-center max-w-32 fixed text-xs py-0.5 px-1 rounded;
  @apply before:absolute before:rotate-45 before:size-2 before:-z-1;

  @apply bg-slate-900 before:bg-slate-900 text-slate-100;
  @apply dark:bg-slate-100 dark:before:bg-slate-100 dark:text-slate-900;

  &.top,
  &.bottom {
    &::before {
      @apply left-1/2 -translate-x-1/2;
    }

    &.center {
      @apply -translate-x-1/2;
    }

    &.end {
      @apply -translate-x-full;
    }
  }

  &.left,
  &.right {
    &::before {
      @apply top-1/2 -translate-y-1/2;
    }

    &.center {
      @apply -translate-y-1/2;
    }

    &.end {
      @apply -translate-y-full;
    }
  }

  &.top {
    @apply -translate-y-full;
  }

  &.left {
    @apply -translate-x-full;
  }

  &.top::before {
    @apply bottom-0 translate-y-1/2 rounded-br-xs;
  }

  &.bottom::before {
    @apply top-0 -translate-y-1/2 rounded-tl-xs;
  }

  &.left::before {
    @apply right-0 translate-x-1/2 rounded-tr-xs;
  }

  &.right::before {
    @apply left-0 -translate-x-1/2 rounded-bl-xs;
  }
}
