.button {
  @apply whitespace-nowrap rounded py-2 px-4 transition-all cursor-pointer flex items-center gap-1;
}

.badge {
  @apply text-xs text-gray-500 bg-gray-200 rounded-sm inline-flex items-center gap-1 px-[2px];
}

.spinner {
  @apply animate-spin border-2 rounded-full border-gray-300 border-b-black w-8 h-8 shrink-0;
}
