.side-bar {
  @apply flex flex-col items-stretch border-r;
  @apply bg-gray-200;
  /* @apply dark:border-r-gray-900 dark:bg-gray-800; */
}

.app-header {
  @apply cursor-default select-none flex items-end justify-center px-6 py-7 gap-1 lg:gap-2;

  .logo {
    @apply size-6 lg:size-8 shrink-0;
  }

  .text {
    @apply font-bold text-2xl lg:text-4xl whitespace-nowrap;
  }
}

.tab-selector {
  @apply whitespace-nowrap cursor-pointer transition-colors px-4 py-2 outline-0 flex items-center gap-1;
  @apply data-selected:bg-gray-300;
}

.title-bar {
  @apply flex items-center justify-end border-b gap-4;

  .group {
    @apply flex items-center;
  }

  .action {
    @apply cursor-pointer transition-colors p-2;
    @apply hover:bg-gray-200 text-gray-500;

    &.destructive {
      @apply hover:bg-red-500/25 hover:text-red-500;
    }
  }
}

.main-content {
  @apply size-full flex flex-col items-stretch overflow-hidden;

  .content {
    @apply p-8 lg:p-16 overflow-y-auto overflow-x-hidden;
  }
}
