.side-bar {
  @apply flex flex-col items-stretch border-r;
  @apply bg-slate-200 dark:bg-slate-800;
}

.app-header {
  @apply cursor-default select-none flex items-end justify-center px-6 py-7 gap-1 lg:gap-2;

  .logo {
    @apply size-6 lg:size-8 shrink-0;
  }

  .text {
    @apply font-bold text-2xl lg:text-4xl whitespace-nowrap;
  }
}

.tab-selector {
  @apply whitespace-nowrap cursor-pointer transition-colors px-4 py-2 outline-0 flex items-center gap-1;
  @apply data-selected:bg-slate-300 dark:data-selected:bg-slate-700;
}

.title-bar {
  @apply flex items-center justify-end border-b gap-4;

  .group {
    @apply flex items-center;
  }

  .action {
    @apply cursor-pointer transition-colors p-2;
    @apply text-slate-500 hover:bg-slate-200 dark:hover:bg-slate-800;

    &.destructive {
      @apply hover:bg-red-500/25 hover:text-red-500;
    }
  }
}

.main-content {
  @apply size-full flex flex-col items-stretch overflow-hidden;

  .content {
    @apply p-8 lg:p-16 overflow-y-auto overflow-x-hidden;
  }
}

.mode-switch {
  @apply relative flex items-center p-0.5 gap-0.5 cursor-pointer rounded-xs transition-all;
  @apply text-slate-500 bg-slate-300 dark:bg-slate-700;

  .swatch {
    @apply absolute size-4 rounded-xs p-0.5 bg-slate-100 transition-all;

    @apply dark:left-5 dark:bg-slate-900;
  }

  .icon {
    @apply p-0.5 z-10;
  }
}
