.side-bar {
  @apply flex flex-col items-stretch border-r;
  @apply bg-slate-200 dark:bg-slate-800;

  .tab-selector {
    @apply whitespace-nowrap cursor-pointer transition-colors p-3 outline-0 flex items-center;

    @apply data-selected:bg-slate-300 dark:data-selected:bg-slate-700;

    .text[data-collapsed] {
      @apply hidden;
    }
  }
}

.app-header {
  @apply cursor-default select-none flex items-end justify-center p-6 gap-1;

  &[data-collapsed] {
    @apply p-2;

    .text {
      @apply hidden;
    }
  }

  .logo {
    @apply size-8 shrink-0;
  }

  .text {
    @apply font-bold text-3xl whitespace-nowrap overflow-hidden flex items-end gap-1;
  }
}

.title-bar {
  @apply flex items-center justify-end border-b gap-4;

  .group {
    @apply flex items-center;
  }

  .action {
    @apply cursor-pointer transition-colors p-2;
    @apply text-slate-500 hover:bg-slate-200 dark:hover:bg-slate-800;

    &.destructive:hover {
      @apply bg-red-500/25;

      .lucide {
        @apply text-red-500!;
      }
    }
  }
}

.main-content {
  @apply size-full flex flex-col items-stretch overflow-hidden;

  .content {
    @apply p-8 lg:p-16 overflow-y-auto overflow-x-hidden;
  }
}

.mode-switch {
  @apply relative flex items-center p-0.5 gap-0.5 cursor-pointer rounded-full transition-all;
  @apply text-slate-500 bg-slate-300 dark:bg-slate-700;

  .swatch {
    @apply absolute size-4 rounded-full bg-slate-100 transition-all;

    @apply dark:left-5 dark:bg-slate-900;
  }

  .icon {
    @apply p-0.5 z-10;
  }
}
