@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@import "./_theme.css" layer(theme);
@import "./_base.css" layer(base);
@import "./_components.css" layer(components);
@import "./_layout.css" layer(layout);
